.container{
    margin: auto;
    width: 30%;
    border: 3px solid grey;
    padding: 10px;
}

h1{
    margin-left:auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

table{
    margin-left:auto;
    margin-right: auto;
    border-color: rgb(173, 178, 184);
    border-style: inherit;
}
.select{
    margin-left:auto;
    margin-right: auto;
    text-align: center;
}

input{
    max-width: 65px;
}

.author{
    text-align: center;
}

.button{
    background-color: #ddd;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    float: left;
    margin: 4px 3px;
    cursor: pointer;
    border-radius: 15px;
}